#header{
  color:red;
}

html, body, #map {
    height: 100%;
}

#text{
  margin-left: -105px;
  color: white  ;
}

.ayam  {
  background-color: #00A8E8;
}

body,html{
height: 100%;
}

body {
  padding-top;
}
.text-center {
  padding-top: 0px;
}
.col-xs-12 {
  background-color: #fff;
}

#sidebar {
  height: 100%;
  position: absolute; ;

}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:2px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}
